# Fabric binaries
fabric/
fabric/bin/

#node modules
api/node_modules/

#wallet
api/wallet/

#Artifact
channel-artifacts/
organizations/fabric-ca/*/IssuerPublicKey
organizations/fabric-ca/*/IssuerRevocationPublicKey
organizations/fabric-ca/*/ca-cert.pem
organizations/fabric-ca/*/fabric-ca-server.db
organizations/fabric-ca/*/msp/
organizations/fabric-ca/*/tls-cert.pem
organizations/peerOrganizations
organizations/ordererOrganizations

/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations
system-genesis-block/*
*.tar.gz
log.txt
bin
builders
channel-artifacts

#Go
*/vendor
chaincode/*/vendor
*.tar.gz