# Fabric binaries
fabric/
fabric/bin/

#node modules
api/node_modules/

#wallet
api/wallet/

#Artifact
channel-artifacts/
organizations/fabric-ca/*/IssuerPublicKey
organizations/fabric-ca/*/IssuerRevocationPublicKey
organizations/fabric-ca/*/ca-cert.pem
organizations/fabric-ca/*/fabric-ca-server.db
organizations/fabric-ca/*/msp/
organizations/fabric-ca/*/tls-cert.pem
organizations/peerOrganizations
organizations/ordererOrganizations

#Go
*/vendor
*/go.mod
*/go.sum
chaincode/*/vendor
chaincode/*/go.mod
chaincode/*/go.sum
*.tar.gz